body,h1,h2,p{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    line-height: 1.6;
    height: 100vh;
}

header,footer{
    background-color: #4E13ED;
    color:#fff;
    text-align: center;
    padding: 1rem;
}
main{
    padding:2rem;
    font-size: 1.5rem;
    background-color: aliceblue;
    
}
h2{
    font-size: 2rem;
    color:#4E13ED
}
.profile{
    display:flex;
    align-items: center;
    justify-content:center ;
}

.photo{
    flex:1;
    padding: 0 2rem;
}

.photo img{
    max-width: 100%;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px #1363ED;
    
}

.about-me{
    flex:2;
}

footer{
    padding: 1rem 0;
    position: relative;
    
    bottom:0;
    width:100%;
}
table{
    
    border:5px solid #4E13ED;
    border-collapse: collapse;
    
}
th,td{
    border:2px solid #1363ED;
}
th{
    background-color: #1363ED;
    color:aliceblue;
}
@media screen and (max-width:768) {
    .profile{
        flex-direction: column;
    }
}
